# LaTeX build intermediates (keep .tex, .bib, .py, figures/, .pdf output, .sty/.bst)
*.aux
*.log
*.bbl
*.blg
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
b1.log
b2.log
b3.log
build1.log
build2.log
build3.log
build_bib.log
bb.log
